<html>
    <head>
        {% block head %}   <!-- head block -->
        <meta charset="utf-8">
        <title>{% block title %}Template - Weipeng Xue{% endblock %} - My Application</title> <!-- title block -->
        {% block styles %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        {% endblock %}    <!-- style comment -->
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul><li><a href="{{ url_for('web.index') }}">Home</a></li></ul>
        </nav>
        <main>
            {% block content %} <!-- content block -->
            {% endblock %}
        </main>
        <footer>
            {% block footer %}  <!-- content block -->
            ...
            {% endblock %}
        </footer>
        {% block scripts %} <!-- scripts block -->
        {% endblock %}   
    </body>
</html>